# Ignore node modules
node_modules/
Frontend/node_modules/
Backend/node_modules/

# Ignore cache
.cache/
Frontend/.cache/
Backend/.cache/

# Build files (optional)
build/
dist/

# Environment files
.env

# Log files
*.log
